
body {
    text-align: center;
    border-style:solid;
    border-width: 5px;
    border-image-source:linear-gradient(45deg,#dee43b,#4e3ee4,#54ea6d);
    border-image-slice: 1;
    font-family: "BioRhyme", serif;
    background-image: linear-gradient(rgb(244, 249, 244),rgba(224, 224, 192, 0.688), rgb(247, 250, 247));

    
    
}


h1{
    color:hsla(240, 91%, 55%, 0.292);
    text-indent: 20px;
    padding-bottom: -70px;
}

.paragrafo {
    color: rgb(87, 87, 242);
    font-size: 15px;
}

    h3 {
        color: rgb(251, 251, 252);
        font-size: 50px;
        font-weight: 6px;
      
        text-indent: 40px;
        letter-spacing: 5px;    
        text-align:inherit;
       
    
        background-color: rgb(144, 145, 145);
        background-image: url(backgroud/brazil.jpeg);
        background-repeat: no-repeat;
        background-size:cover;
        padding: 150px;
        background-blend-mode:multiply;
    
    }
    #li2, #li3 { line-height:70px;
        position: relative;
        bottom: -20px;

    }
    


    h1 {
        line-height: 80px;
        text-align: right;
        padding-right: 50px;
        
    }
    h4{
        text-align: right;
        
    }
    
    #li1,#li2, #li3 {
        color: yellow;
        font-size: 20px;
    }

    